#races{
  height: calc(100% - 87px); // Weirdge...
  background-image: url("../../Assets/red_bg.png");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.race-table{
  max-width: 1000px;
  text-align: center;
}

.container {
  text-align: -webkit-center;
}

