
.navbar-brand {
  padding-left: 15px;
}

#collasible-nav-dropdown {
  padding-right: 50px;

}

.dropdown-toggle::before {
  display: none !important;
}

.my-navbar {
  background-color: transparent;
  font-size: 1.6em;

}


// Danger zone...

.navbar-light .navbar-nav .nav-link {
  color: white !important;
}

.navbar-light .navbar-nav :hover {
  color: grey !important;
}

.navbar-light .navbar-nav .active {
  color: black !important;
}

.navbar-light .navbar-brand {
  color: black !important;
  font-size: 1.6em;
}
