.navbar-brand {
    padding-left: 15px;
}

#collasible-nav-dropdown {
    padding-right: 50px;

}

.dropdown-toggle::before {
    display: none !important;
}

.navbar {
    background-color: transparent;
    color: white;
    font-size: 1.6em;
}


