#drivers {
  height: calc(100% - 87px); // Weirdge...
  background-image: url("../../Assets/red_bg.png");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.drivers-table {
  max-width: 1000px;
  text-align: center;
}

.container {
  text-align: -webkit-center;
}

.compare-drivers {
}

.compared-driver {
  background-color: rgba(255, 255, 255, 0.5);
  max-width: max-content;
  text-align: -webkit-center;
  text-align: center;
  margin: 20px;
}

Form {
  padding: 5px;
}

.form {
  background-color: white;
  text-align: center;
  max-width: 400px;
  min-width: 300px;
  max-height: 700px;
  width: 50%;
  margin: 100px auto;
  border-radius: 10px;
  padding: 40px;
}

.driver-info{
  display: flex;
  text-align: center;
  padding: 1em;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.driver-field{
  text-align: center;
  display: grid;
  padding: 1em;
}

.driver-attribute{
  font-size: xx-large;
}

#driver-name{
  font-size: xxx-large;
  margin: 2em;
  margin: 2em;
}

#driver{
  padding-top: 2em;
}

.compare-results{
  font-size: x-large;
}